<div fxLayout="column " fxLayoutAlign=" " fxShow="false" fxHide="false" *ngIf="true">
  <div fxLayout="row " fxFlex="100" fxLayoutAlign="space-around start" fxShow="true" fxHide="false" *ngIf="true" ngClass.gt-xs="carrow" ngClass.xs="small-fab">
    <div fxLayout="column " class="icon-col-height" fxFlex="5" fxLayoutAlign="center center" fxShow="true" fxHide="false" fxFlex.xs="8">
      <button mat-mini-fab="" class="arrow-color" (click)="changeDataSet(-1)">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div fxLayout="column " fxFlex="90" fxLayoutAlign=" " fxShow="true" fxHide="false" *ngFor="let row of dataSet.slice(0,limitImage);let i=index;" fxFlex.xs="84">
      <div fxLayout="column " fxFlex="100" fxLayoutAlign="center center" fxShow="true" fxHide="false" fxFlex.lt-sm="50" fxLayoutAlign.xs="center center">
        <img imgSrc="{{row.imgSrc}}" [ngStyle.lt-lg]="{&apos;width&apos;:&apos;90%&apos;}" class="carousel-img">
        <div fxLayout="column " fxFlex="20" fxLayoutAlign="start center" fxShow="true" fxHide="false">
          <h4 class="price-font">{{row.imgPrice}}</h4>
          <h4 class="top  header-margin">{{row.imgHeader}}</h4>
          <h4 class="bottom">{{row.imgDesc}}</h4>
        </div>
      </div>
    </div>
    <div fxLayout="column " class="icon-col-height" fxFlex="5" fxLayoutAlign="center center" fxShow="true" fxHide="false" fxFlex.xs="8">
      <button mat-mini-fab="" class="arrow-color" (click)="changeDataSet(1)">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>