/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

$background-color : #556f88;
$headerFooterColor : #054682;

body{
     background-color: $background-color;
    font-family: 'Quicksand', sans-serif;
}
.price-font{
    line-height: 2px;
    font-size: 13px;
    color: white; 
}
.fonts{
    font-family: 'Quicksand', sans-serif !important;
}
.weight-font{
    font-weight: 500;
}
.top {
    color: white;
    font-weight: 500;  
}
.bottom {
    margin: -15px 0 5px;
    color: white;
    font-weight: 500;   
}
.toolbar1{ 
    background-color: $headerFooterColor;
    color: rgba(255,255,255,.87);
    font-size: 19px !important;
}
.rent{
    font-size: 13px!important;
}
.mat-form-field-infix { 
    border-top: .84375em solid transparent;
    top: -3.5px;
    font-size: 14px;
    padding-left: 2% !important;
}
.footer{
    border-top:0.1pt solid white;
    background: $headerFooterColor;
    color: white;
    bottom: 0px ;
    position: fixed  !important;
    width:100% !important;
    height: 5% !important;
}
 .sidenav{
    background: rgba(11, 14, 117, 0.72);
    width: 142px;
    position: absolute !important;
    top:56px !important;
    }
.btn-height{
    height: 39px !important;
    margin-top: 4%  !important; 
    font-family: 'Quicksand',sans-serif;
    font-weight: 900;
}
.arrow-color{
    background:$headerFooterColor !important;  
    color: #f7ebeb !important;
    font-size: 24px !important;
}
.header-margin{
    margin-top: 0px;
}
.menu{
    cursor:pointer !important;
}
.btn{
    font-size: 19px !important;   
     margin-left: -3% !important;
}
.pointer{
    cursor: pointer;
}
.sidenavc{
    background-color: $background-color;
}
.rows{
    padding:2% !important;
}
.search{
    background-color:white !important;  
     width: 500px !important;
     height: 39px !important;
    margin-top: 4%  !important;
}
.sidelist{
     color:white !important;
}
.login{
    margin-top:71% !important;   
     width: 100% !important;
}
.carrow{
    margin: 30px 30px 0 30px !important;    
    padding-top: 11px !important;
}
.small-fab{
        margin: 35px 12px 0 12px;
}
.icon-col-height{
    height:178px !important; 
}
.carousel-img{
    border:2px solid white;
    width:100%;
    height:100%;
    background-repeat : round;
    max-width:274px;
}
.nav-list{
    font-size: 16px;
    font-weight: 600;
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
    height: 0px !important;
}